---
import { Section, H1, H2, H3, P, BgImg, Image, Icon, Button } from "ui";

interface Props {
  title?: string;
  desc?: string;
  category?: boolean;
  img?: string;
  imgClass?: string;
  isMain?: boolean;
  slides?: boolean;
}

const {
  title,
  desc,
  category,
  img = "hero/1.png",
  imgClass,
  isMain = false,
} = Astro.props;
---

<!-- Hero -->
<Section name="hero">
  <div class="hero__text group">
    {
      isMain ? (
        <>
          <div class="text-hero">ВЕРА В НАС</div>
          <div class="text-subhero">Клиника психиатрии и наркологии</div>
          <P class="font-semibold">
            Лечение зависимостей. Работаем с 2008 года
          </P>

          {category && (
            <div class="hero__categories group-row">
              <a href="#" class="hero__categories-item">
                Лечении алкоголизма
              </a>
              <a href="#" class="hero__categories-item">
                Наркотической зависимости
              </a>
              <a href="#" class="hero__categories-item">
                Детоксикация и снятие ломки
              </a>
              <a href="#" class="hero__categories-item">
                Кодирование
              </a>
            </div>
          )}

          <Button variant="primary" data-form="callback">
            Оставить заявку
          </Button>
        </>
      ) : (
        <>
          {title && <H1>{title}</H1>}
          {desc && <P set:html={desc} />}
          {category && (
            <div class="hero__categories group-row">
              <a href="#" class="hero__categories-item">
                Приедем за 25 минут
              </a>
              <a href="#" class="hero__categories-item">
                Выезд от 1 500 ₽
              </a>
              <a href="#" class="hero__categories-item">
                Строго анонимно
              </a>
              <a href="#" class="hero__categories-item">
                Круглосуточно
              </a>
            </div>
          )}

          <div class="hero__swiper">
            <div class="swiper">
              <div class="swiper-wrapper">
                {Array.from({ length: 5 }).map((_, index) => (
                  <div class="swiper-slide group">
                    <div class="group-title">Стационар на дому {index}</div>
                    <div class="group-row">
                      <div class="group-price">13 000 Р</div>
                      <div class="group-realprice">30 000 Р</div>
                    </div>
                  </div>
                ))}
              </div>
            </div>

            <div class="swiper-button-prev" />
            <div class="swiper-button-next" />

            <div class="swiper-pagination" />
          </div>

          <Button variant="primary" data-form="callback">
            Оставить заявку
          </Button>
        </>
      )
    }
  </div>

  <div class="hero__advantages group-row">
    <div class="hero__advantages-item">
      <Icon src="anonym.svg" />
      <H3>100% Анонимность</H3>
    </div>
    <div class="hero__advantages-item">
      <Icon src="24-hours.svg" />
      <H3>Работаем круглосуточно</H3>
    </div>
    <div class="hero__advantages-item">
      <Icon src="nurse.svg" />
      <H3>Опытные врачи</H3>
    </div>
    <div class="hero__advantages-item">
      <Icon src="warranty.svg" />
      <H3>Гарантия результата </H3>
    </div>
  </div>

  <div class="hero__img">
    <Image src={img} alt={title} class={imgClass} />
  </div>
</Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .hero {
    position: relative;
    padding-top: rem(80) !important;

    @include media("3xl") {
      padding-top: rem(60) !important;
    }
    @include media("lg") {
      padding-top: rem(360) !important;
    }
    @include media("sm") {
      padding-top: rem(280) !important;
    }

    .container {
      @include media("3xl", min-width) {
        gap: rem(90);
      }
    }

    &__text {
      width: 100%;
      max-width: rem(865);
      gap: rem(30);

      @include media("2xl") {
        max-width: rem(680);
      }

      &:has(.text-hero) {
        gap: 0;

        @include media("3xl", min-width) {
          max-width: rem(900);
        }
        @include media("xl") {
          max-width: rem(800);
        }

        .text-subhero {
          margin-bottom: rem(24);

          @include media("lg") {
            margin-top: rem(10);
            margin-bottom: rem(20);
          }
          @include media("sm") {
            margin-bottom: rem(15);
          }
        }

        .hero__categories {
          margin: rem(60) 0 rem(70);
          max-width: rem(630);

          @include media("3xl") {
            margin: rem(40) 0 rem(50);
          }
          @include media("lg") {
            margin: rem(30) 0 rem(40);
          }
          @include media("sm") {
            margin: rem(20) 0 rem(30);
          }
        }
      }
    }

    &__categories {
      width: 100%;
      max-width: rem(500);
      flex-wrap: wrap;
      gap: rem(24) rem(18);

      @include media("lg") {
        gap: rem(15) rem(10);
      }
      @include media("sm") {
        gap: rem(15);
      }
      @include media("xs") {
        gap: rem(8) rem(5);
      }

      &-item {
        padding: rem(12) rem(20);
        width: fit-content;
        color: var(--primary);
        font-family: var(--font-secondary);
        font-size: clamp(0.875rem, 0.8rem + 0.375vw, 1.25rem);
        border-radius: rem(15);
        border: rem(1) solid var(--primary);
        transition: var(--transition-ease);

        &:hover {
          color: #fff;
          background: var(--primary);
        }

        @include media("lg") {
          padding: rem(10) rem(20);
          border-radius: 9999px;
        }
        @include media("sm") {
          padding: rem(5) rem(10);
        }
      }
    }

    &__advantages {
      width: 100%;
      flex-wrap: wrap;
      align-items: stretch;
      gap: rem(20);

      @include media("xs") {
        margin-top: rem(15);
        gap: rem(12);
      }

      &-item {
        position: relative;
        padding: 0 rem(28) rem(28);
        text-align: center;
        flex: 1 0 rem(320);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(18);

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: -1;
          width: 100%;
          height: calc(100% - rem(35));
          background: #fff;
          border-radius: rem(20);
          box-shadow: 0 0 rem(52) 0 rgba(0, 0, 0, 0.15);
        }

        @include media("2xl") {
          flex-basis: calc(100% / 2 - rem(20));
        }
        @include media("lg") {
          .text-h3 {
            font-size: rem(16);
          }
        }
        @include media("xs") {
          padding: 0 rem(25) rem(15);
          flex-basis: calc(100% / 2 - rem(15));
          gap: rem(10);

          .text-h3 {
            font-size: rem(12);
          }
        }
      }

      .icon {
        padding: rem(25);
        background: var(--primary);
        border-radius: 50%;
        --icon-size: #{rem(125)};

        @include media("xl") {
          padding: 20px;
          --icon-size: #{rem(100)};
        }
        @include media("xs") {
          padding: rem(15);
          --icon-size: #{rem(65)};
        }
      }
    }

    &__img {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -2;
      pointer-events: none;

      @include media("lg") {
        top: 0;
        left: auto;
        right: 0;
      }
      @include media("sm") {
        top: rem(50);
        width: 100%;
      }

      img {
        min-height: var(--height);
        height: var(--height);
        max-width: unset;
        object-fit: contain;
      }

      .img-1 {
        transform: translate(-8%, -60%);
        --height: #{rem(1040)};

        @include media("3xl") {
          --height: #{rem(820)};
        }
        @include media("2xl") {
          --height: #{rem(760)};
          transform: translate(-5%, -75%);
        }
        @include media("xl") {
          --height: #{rem(720)};
        }
        @include media("lg") {
          --height: #{rem(480)};
          transform: translate(15%, 0%);
        }
        @include media("sm") {
          --height: #{rem(340)};
          transform: translate(20%, -20%);
        }
      }

      .img-2 {
        transform: translate(10%, -70%);
        --height: #{rem(600)};

        @include media("3xl") {
          transform: translate(15%, -80%);
          --height: #{rem(550)};
        }
        @include media("2xl") {
          transform: translate(15%, -100%);
          --height: #{rem(550)};
        }
        @include media("xl") {
          transform: translate(20%, -100%);
          --height: #{rem(400)};
        }
        @include media("lg") {
          --height: #{rem(380)};
          transform: translate(0%, 5%);
        }
        @include media("md") {
          transform: translate(10%, 5%);
        }
        @include media("sm") {
          --height: #{rem(280)};
          transform: translate(70%, -10%);
        }
        @include media("xs") {
          --height: #{rem(260)};
          transform: translate(35%, -15%);
        }
      }
    }

    &__swiper {
      position: relative;
      margin-bottom: rem(20);
      padding: rem(30) rem(30) rem(40);
      width: 100%;
      max-width: rem(595);
      background: #fff;
      box-shadow: 0 0 126px 0 rgba(0, 0, 0, 0.15);
      border-radius: rem(20);

      --swiper-pagination-bullet-width: #{rem(10)};
      --swiper-pagination-bullet-height: #{rem(10)};
      --swiper-navigation-sides-offset: #{rem(-20)};

      @include media("lg") {
        margin-bottom: rem(0);
        max-width: rem(480);
      }
      @include media("xs") {
        padding: rem(20) rem(20) rem(30);
        --swiper-pagination-bullet-width: #{rem(8)};
        --swiper-pagination-bullet-height: #{rem(8)};
        --swiper-navigation-sides-offset: #{rem(-14)};
      }

      .swiper {
        width: 100%;

        &-slide {
          opacity: 0 !important;
          transition: var(--transition-ease);

          &.swiper-slide-active {
            opacity: 1 !important;
          }
        }

        &-pagination {
          z-index: 2;
        }

        &-button-prev,
        &-button-next {
          z-index: 2;
          margin: 0 !important;
          transform: translateY(-50%);
          width: rem(40);
          height: rem(40);
          color: #fff;
          background: var(--primary);
          border-radius: 50%;
          box-shadow: 0 0 rem(20) 0 rgba(0, 0, 0, 0.15);
          transition: var(--transition-ease);

          @include media("xs") {
            width: rem(30);
            height: rem(30);
          }

          &::after {
            font-size: rem(20);

            @include media("xs") {
              font-size: rem(16);
            }
          }

          &.swiper-button-disabled {
            display: none;
          }
        }
      }

      .group {
        gap: rem(8);

        &-row {
          gap: rem(20);
        }

        &-title {
          font-size: clamp(1.25rem, 1.1058rem + 0.641vw, 1.875rem);
          font-weight: 700;
          text-transform: uppercase;
        }

        &-price {
          font-size: clamp(1.5rem, 1.3269rem + 0.7692vw, 2.25rem);
          font-weight: 700;
          color: var(--primary);
        }

        &-realprice {
          font-size: clamp(1.125rem, 1.0962rem + 0.1282vw, 1.25rem);
          font-weight: 400;
          text-decoration: line-through;
          color: #606060;
        }
      }
    }
  }
</style>
